.page {

  max-width: 1600px;
  margin: 0 auto;
  background: var(--background-color);
  color: var(--text--white-color);
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

