.page {
  --background-color: #2A2C2F;
  --text--white-color: #fff;
  --text--grey-color: #AAA;

  max-width: 1600px;
  margin: 0 auto;
  background: var(--background-color);
  color: var(--text--white-color);
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .page {

    max-width: 1600px;
  }
}
