.photo-grid {
  padding-top: 92px;
  max-width: 1056px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

}

@media screen and (max-width: 1280px){
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 928px;
    margin: 0 auto;
  }
}
