.lead {
  width: 100%;
  max-width: 984px;
  padding-top: 58px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}
/* 1280 1024 768 */

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding-top: 50px;

  }
}
