.cover__subtitle {
  padding-top: 32px;
  max-width: 320px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    padding-top: 16px;

    font-size: 14px;
    line-height: 16px;
  }
}
