.places__title-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 48px;
}

@media screen and (max-width: 320px){
  .places__title-block {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;

  }
}
