.lead__image {
  width: 100%;
  height: auto;
  padding-top: 64px;
}

@media screen and (max-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}


@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}
