.lead__subtitle {
  max-width: 620px;
  padding-top: 32px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
