.cover {
  width: 1184px;
  height: 740px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1280px){
  .cover {
    width: 100vw;
    max-width: 1024px;
    height: 640px;
  }
}
