.cover {
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  background-image: url("../../../From-Portland-to-Portland/images/cover/__background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
