.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
