.footer__list {
  list-style: none;
  display: flex;
  gap: 0 18px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 320px) {
  .footer__list {
    gap: 32px 0;
    flex-direction: column;
  }
}
