.header__lang-link__status__default {
  font-size: 24px;
  line-height: 28px;
  color: var(--text--white-color);
  text-decoration: none;
  padding: 0 0 0 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-link__status__default {
    font-size:  18px;
    line-height: 20px;
  }
}
