.footer {
  padding: 92px 0 24px 0;
  margin: 0 auto;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer {

    width: 928px;
  }
}
