.footer {
  padding: 92px 0 24px 0;
  /* margin: 0 auto; */
  width: 80%;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer {

    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {

    max-width: 720px;
  }
}
