.footer {
  padding: 92px 0 24px 0;
  width: 80%;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
}
@media screen and (max-width: 1280px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    padding: 64px 0 24px 0;

  }
}
