/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* page */
@import url("../blocks/page/page.css");

/* logo */
@import url("../blocks/logo/logo.css");

/* header */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__lang-link/header__lang-link.css");
@import url("../blocks/header/__lang-link__active/header__lang-link__active.css");
@import url("../blocks/header/__language/header__language.css");

/* lead */
@import url("../blocks/lead/lead.css");
@import url("../blocks/lead/__title/lead__title.css");
@import url("../blocks/lead/__subtitle/lead__subtitle.css");
@import url("../blocks/lead/__image/lead__image.css");
@import url("../blocks/lead/__caption/lead__caption.css");

/* intro */
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/__title/intro__title.css");
@import url("../blocks/intro/__subtitle/intro__subtitle.css");
@import url("../blocks/intro/__text/intro__text.css");
@import url("../blocks/intro/__list/intro__list.css");
@import url("../blocks/intro/__list-paragraf/intro__list-paragraf.css");
@import url("../blocks/intro/__span/intro__span.css");

/* photo-grid */
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/photo-grid/__item/photo-grid__item.css");

/* places */
@import url("../blocks/places/places.css");
@import url("../blocks/places/__place/places__place.css");
@import url("../blocks/places/__title/places__title.css");
@import url("../blocks/places/__image/places__image.css");
@import url("../blocks/places/__url-heading/places__url-heading.css");
@import url("../blocks/places/__link/places__link.css");
@import url("../blocks/places/__paragraf/places__paragraf.css");
@import url("../blocks/places/__description/places__description.css");
@import url("../blocks/places/__website/places__website.css");
@import url("../blocks/places/__content/places__content.css");
@import url("../blocks/places/__title-block/places__title-block.css");
