/* .places__description {
  padding-left: 40px;
}

@media screen and (max-width: 768px){
  .places__description {
    padding-left: 28px;
  }
}
@media screen and (max-width: 320px){
  .places__description {
    padding: 0 16px;
  }
} */
