.places__item {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 48px 32px ;
}
.places__item:first-child {
  padding: 0;
}

@media screen and (max-width: 768px){
  .places__item {
    padding: 72px 24px 0 24px;
    gap: 28px 48px;

  }
}

@media screen and (max-width: 320px){
  .places__item {
    grid-template-columns: 1fr;
    gap: 0 30px;
  }
}

/* change size title */
